<h1>Word Puzzle Creator</h1>

<p>Welcome to the puzzle creator!</p>

<form action='/puzzle' method='get'>

  iv class="form-group">
    <label for="wordOrPhrase">Enter a word or phrase to create a puzzle</label>
    <input id="wordOrPhrase" name="wordOrPhrase" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit!</button>
</form>
