<h1>Solve the puzzle</h1>
<p>$puzzle</p>

<form action='/answer' method='get'>
  <div class='form-group'>
    <label for='guess'>Enter your guess!</label>
    <input type='text' id='guess' name='guess' class='form-control'></input>
  </div>
  <button class='btn btn-primary' type='submit'>Submit!</button>
</form>
