<h1>Welcome to the kitty fan page!</h1>
<p>If you love cats, you've come to the right place! We love cats too, and we want to share our love of cats with the world! Does that make us crazy?! Does it?!</p>
<p>We have profiles for two cat celebrities right now: <a href="/dalton">Dalton</a> and <a href="/lester">Lester</a>!</p>
