<h1>Make some change!<h1>
<p>This page determines the smallest number of coins required to turn a decimal number into change</p>

<form action='/change' method='get'>
  <div class="form-group">
    <label for='decimalNumber'>Enter a two-digit decimal number between 0 and 1.</label>
    <input type="text" id='decimalNumber' name='decimalNumber' class='form-control'></input>
  </div>

  <button class="btn" type="submit">Get Change!</button>

</form>
